
{% extends "base.html" %}
{% load staticfiles %}
{% block link %}
    <link rel="stylesheet" href="{% static 'CP/css/events.css' %}">
{% endblock %}
{% block title %}events{% endblock %}
{% block width-cont %}width: 80%;{% endblock %}
{% block content %}
            <div class="events prev">
                <div class="h2-caption">
                    <h2>Прошедшие события</h2>
                </div>
                <article>
                    <div class="h3-caption">
                        <h3>ОБЩЕГОРОДСКОЙ СУББОТНИК!</h3>
                        <span>17.04.2018</span>
                    </div>
                    <p>Замечательная традиция, которую не стоит забывать, прочно закрепилась в нашей жизни: каждую весну приводить в порядок свой дом, двор, любимые парки и скверы, зоны отдыха, участвовать
                        в посадке деревьев и кустарников устройстве газонов, цветников. В рамках месячника по благоустройству, общероссийских Дней защиты от экологической опасности, в преддверии Дня Земли,
                        21 апреля состоится общегородской субботник. Управлением экологии будут организованы мероприятия по уборке Воронежского центрального парка, парка «Дельфин» и прилегающей водоохранной
                        зоны, парка «Орленок», лесопарка «Оптимистов» ...
                        </p>
                </article>
                <article>
                    <div class="h3-caption">
                        <h3>«Здоровый лес» в Пригородном лесничестве Воронежа!</h3>
                        <span>4.06.2017</span>
                    </div>
                    <p>4 июня в рамках проекта «Здоровый лес» на территории Пригородного лесничества прошел субботник, организованный дублером руководителя управления лесного хозяйства Воронежской области
                        Кристиной Леоновой, при поддержке Молодежного правительства Воронежской области, департамента образования, науки и молодежной политики ВО, Воронежского государственного природного
                        биосферного заповедника им. В.М.Пескова, управления лесного хозяйства ВО, а также Учебно-опытного лесхоза Воронежского государственного лесотехнического университета им. Г.Ф. Морозова.
                        Субботник проходил вблизи дороги на п.Рыбачий неподалеку от...
                        </p>
                </article>

                <div class="go-left">
                    <a href="/prev-events/">
                        <div class="left-arrow"></div>
                        <i>Все прошедшие события</i>
                    </a>
                </div>
            </div>
            <div class="events next">
                <div class="h2-caption">
                    <h2>Предстоящие события</h2>
                </div>
                <article>
                    <div class="h3-caption">
                        <h3>Международная Конференция ECOLOGY & SAFETY</h3>
                        <span>27.06.2018</span>
                    </div>
                    <p>Официальным языком конференции является английский. Перевод и услуги переводчика не предоставляются. Столы в конференц-зале расположены в стиле классной комнаты,
                        зал рассчитан на 300 человек. Дресс-код - от деловой повседневной одежды до делового вида. Температура в конференц-зале может быть переменчивой, поэтому, чтобы чувствовать
                        себя комфортно, надевайте многослойную одежду. Пожалуйста, проходите в конференц-зал минимум за 30 минут до начала заседания Вашей секции. В программу конференции могут быть
                        внесены изменения, о которых её участники будут своевременно уведомлены. В конференц-зале есть бесплатный Wi-Fi. Электрические розетки не будут доступны для...</p>
                </article>
                <article>
                    <div class="h3-caption">
                        <h3>Всемирный день окружающей среды </h3>
                        <span>5.06.2018</span>
                    </div>
                    <p>Всемирный день окружающей среды (World Environment Day), самое масштабное ежегодное событие, посвященное охране природы, отмечается 5 июня — Генеральная ассамблея ООН учредила праздникв 1972 году.
                       <br><br>Всемирный день окружающей среды — самый важный день для привлечения внимания к экологическим проблемам, который с момента учреждения стал глобальной информационной платформой и широко
                       отмечается в более чем...</p>
                </article>
                <div class="go-right">
                    <a href="/next-events/">
                        <div class="right-arrow"></div>
                        <i>Все предстоящие события</i>
                    </a>
                </div>
            </div>
{% endblock %}
{% block footer %}
        <footer style="position: absolute; top: 920px;">
            <p>Copyright 2018</p>
        </footer>
{% endblock %}