
{% extends "base.html" %}
{% load staticfiles %}
{% block link %}
    <link rel="stylesheet" href="{% static 'CP/css/events.css' %}">
{% endblock %}
{% block title %}events{% endblock %}
{% block width-cont %}width: 80%;{% endblock %}
{% block content %}
            <div class="events prev">
                <div class="h2-caption">
                    <h2>Прошедшие события</h2>
                </div>
                <article>
                    <div class="h3-caption">
                        <h3>Заголовок 1</h3>
                        <span>27.02.2018</span>
                    </div>
                    <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                        читаемых в дальнейшем     курсов.     В результате изучения дисциплины, в первую очередь вырабатываются навыки доказательного мышления, осваиваются основные принципы непрерывной математики,
                        дифференциального и интегрального исчисления. В связи с очень различным уровнем математической подготовки, с которым приходят студенты на первый курс университета, преподавание математического
                        анализа преследует еще одну важную задачу — дать возможность студентам хотя бы частично восполнить пробелы в своем школьном математическом образовании.</p>
                </article>
                <article>
                    <div class="h3-caption">
                        <h3>Заголовок 2</h3>
                        <span>27.02.2018</span>
                    </div>
                    <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                        читаемых в дальнейшем     курсов.     В результате изучения дисциплины, в первую очередь вырабатываются навыки доказательного мышления, осваиваются основные принципы непрерывной математики,
                        дифференциального и интегрального исчисления. В связи с очень различным уровнем математической подготовки, с которым приходят студенты на первый курс университета, преподавание математического
                        анализа преследует еще одну важную задачу — дать возможность студентам хотя бы частично восполнить пробелы в своем школьном математическом образовании.</p>
                </article>
                <div class="go-left">
                    <a href="/prev-events/">
                        <div class="left-arrow"></div>
                        <i>Все прошедшие события</i>
                    </a>
                </div>
            </div>
            <div class="events next">
                <div class="h2-caption">
                    <h2>Предстоящие события</h2>
                </div>
                <article>
                    <div class="h3-caption">
                        <h3>Заголовок 3</h3>
                        <span>27.02.2018</span>
                    </div>
                    <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                            читаемых в дальнейшем     курсов.     В результате изучения дисциплины, в первую очередь вырабатываются навыки доказательного мышления, осваиваются основные принципы непрерывной математики,
                            дифференциального и интегрального исчисления. В связи с очень различным уровнем математической подготовки, с которым приходят студенты на первый курс университета, преподавание математического
                            анализа преследует еще одну важную задачу — дать возможность студентам хотя бы частично восполнить пробелы в своем школьном математическом образовании.</p>
                </article>
                <article>
                    <div class="h3-caption">
                        <h3>Заголовок 4</h3>
                        <span>27.02.2018</span>
                    </div>
                    <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                            читаемых в дальнейшем     курсов.     В результате изучения дисциплины, в первую очередь вырабатываются навыки доказательного мышления, осваиваются основные принципы непрерывной математики,
                            дифференциального и интегрального исчисления. В связи с очень различным уровнем математической подготовки, с которым приходят студенты на первый курс университета, преподавание математического
                            анализа преследует еще одну важную задачу — дать возможность студентам хотя бы частично восполнить пробелы в своем школьном математическом образовании.</p>
                </article>
                <div class="go-right">
                    <a href="/next-events/">
                        <div class="right-arrow"></div>
                        <i>Все предстоящие события</i>
                    </a>
                </div>
            </div>
{% endblock %}
{% block footer %}
        <footer style="position: absolute; top: 920px;">
            <p>Copyright 2018</p>
        </footer>
{% endblock %}