{% extends "base-event.html" %}

{% block title %}prev-events{% endblock %}

{% block content %}
    <div style="width: 90%; min-height: 200px; background-color: white; margin: 0 auto;">
        <div class="one-block">
            <article>
                <h2>ОБЩЕГОРОДСКОЙ СУББОТНИК!</h2>
                <ul>
                    <li>Организатор: Anatoliy</li>
                    <li>Дата: 17.04.2018</li>
                    <li>Время: 11:00 (МСК)</li>
                    <li>Место: г.Воронеж ул.Остужева д.44</li>
                </ul>
                <p>Замечательная традиция, которую не стоит забывать, прочно закрепилась в нашей жизни: каждую весну приводить в порядок свой дом, двор, любимые парки и скверы, зоны отдыха, участвовать в посадке деревьев и кустарников устройстве газонов, цветников.
                    <br><br>В рамках месячника по благоустройству, общероссийских Дней защиты от экологической опасности, в преддверии Дня Земли, 21 апреля состоится общегородской субботник.
                    <br><br>Управлением экологии будут организованы мероприятия по уборке Воронежского центрального парка, парка «Дельфин» и прилегающей водоохранной зоны, парка «Орленок», лесопарка «Оптимистов», скверов «Дубрава» и Бринкманский сад. В работе будут участвовать сотрудники структурных подразделений органов государственной власти и местного самоуправления, студенты ВУЗов, школьники, инициативные группы жителей города.
                    <br><br>Обращаемся ко всем трудовым коллективам, учащимся и пенсионерам, к местным отделениям партий, общественным объединениям, профсоюзным, ветеранским организациям, ко всему населению городского округа принять личное участие в работе по благоустройству, санитарной очистке, уборке и озеленению улиц, скверов, водоохранных зон, территорий предприятий, организаций, учреждений.
                    <br><br>Все желающие будут обеспечены необходимым инвентарем.
                    <br><br>Приведем в надлежащее состояние мемориальные комплексы, памятные места, захоронения, дворы, игровые, спортивные и детские площадки, зеленые зоны, проезды, тротуары, уберем стихийные мусорные свалки.
                    Парки, скверы, двор, где мы любим гулять с детьми, где отдыхают наши родители, должны быть уютными и зелеными. Сделать их лучше в наших силах!
                    Надеемся на широкую поддержку воронежцев!
                </p>
            </article>
            <div class="column-footer">
                   <i class="comm"></i><span>Комментариев: 14</span>
                   <i class="comm-arrow" style="left: 45%;"></i>
                   <span style="float: right">Участников: 100</span>
           </div>
        </div>
    </div>
    <div class="add-comment">
        <h2>Добавить комментарий</h2>
        <form>
            <p>Комментарий:</p>
            <textarea></textarea>
            <input class="send" type="submit" value="Отправить">
        </form>
    </div>

    <div class="comment">
        <i class="small-avatar"></i>
        <span>Anatoliy</span>
        <i class="comment-date">25.04.2018</i>
        <p>Замечательная традиция, которую не стоит забывать!</p>
        <input class="send" type="submit" value="Ответить">
    </div>
    <div class="comment">
        <i class="small-avatar"></i>
        <span>Ivan</span>
        <i class="comment-date">24.04.2018</i>
        <p>Python предлагает большие возможности для работы со списками . Вы можете использовать операторы объявлении структуры списка. Оператор for позволяет задавать элементы списка
            в определенной последовательности, а if — позволяет выбирать элементы по условию.</p>
        <input class="send" type="submit" value="Ответить">
    </div>
{% endblock %}