{% extends "base-event.html" %}

{% block title %}prev-events{% endblock %}

{% block content %}
    <div style="width: 90%; min-height: 200px; background-color: white; margin: 0 auto;">
        <div class="one-block">
            <article>
                <h2>Длинный заголовок номер 1</h2>
                <ul>
                    <li>Организатор: Anatoliy</li>
                    <li>Дата: 28.02.2018</li>
                    <li>Время: 15:00 (МСК)</li>
                    <li>Место: г.Воронеж ул.Остужева д.44</li>
                </ul>
                <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                    читаемых в дальнейшем курсов. В результате изучения дисциплины, в первую очередь вырабатываются навыки доказательного мышления, осваиваются основные принципы непрерывной математики,
                    дифференциального и интегрального исчисления. В связи с очень различным уровнем математической подготовки, с которым приходят студенты на первый курс университета,
                    преподавание математического анализа преследует еще одну важную задачу — дать возможность студентам хотя бы частично восполнить пробелы в своем школьном математическом образовании.
                </p>
            </article>
            <div class="column-footer">
                   <i class="comm"></i><span>Комментариев: 14</span>
                   <i class="comm-arrow" style="left: 45%;"></i>
                   <span style="float: right">Участников: 100</span>
           </div>
        </div>
    </div>
    <div class="add-comment">
        <h2>Добавить комментарий</h2>
        <form>
            <p>Комментарий:</p>
            <textarea></textarea>
            <input class="send" type="submit" value="Отправить">
        </form>
    </div>

    <div class="comment">
        <i class="small-avatar"></i>
        <span>Anatoliy</span>
        <i class="comment-date">25.04.2018</i>
        <p>Python предлагает большие возможности для работы со списками . Вы можете использовать операторы объявлении структуры списка. Оператор for позволяет задавать элементы списка
            в определенной последовательности, а if — позволяет выбирать элементы по условию.</p>
        <input class="send" type="submit" value="Ответить">
    </div>
    <div class="comment">
        <i class="small-avatar"></i>
        <span>Ivan</span>
        <i class="comment-date">24.04.2018</i>
        <p>Python предлагает большие возможности для работы со списками . Вы можете использовать операторы объявлении структуры списка. Оператор for позволяет задавать элементы списка
            в определенной последовательности, а if — позволяет выбирать элементы по условию.</p>
        <input class="send" type="submit" value="Ответить">
    </div>
{% endblock %}