{% extends "base-event.html" %}

{% block title %}prev-events{% endblock %}

{% block column %}
    <div class="one-block">
       <article>
           <h2>ОБЩЕГОРОДСКОЙ СУББОТНИК!</h2>
           <ul>
               <li>Организатор: Anatoliy</li>
                <li>Дата: 17.04.2018</li>
                <li>Время: 11:00 (МСК)</li>
                <li>Место: г.Воронеж ул.Остужева д.44</li>
           </ul>
           <p>Замечательная традиция, которую не стоит забывать, прочно закрепилась в нашей жизни: каждую весну приводить в порядок свой дом, двор, любимые парки и скверы, зоны отдыха,
               участвовать в посадке деревьев и кустарников устройстве газонов, цветников. В рамках месячника по благоустройству, общероссийских Дней защиты от экологической опасности,
               в преддверии Дня Земли, 21 апреля состоится общегородской субботник. Управлением экологии будут организованы . . .</p>
       </article>
       <a href="/one-event/">
           <div class="column-footer">
                   <i class="comm"></i><span>Комментариев: 14</span>
                   <i class="comm-arrow"></i>
                   <span style="float: right">Участников: 100</span>
           </div>
       </a>
    </div>
    <div class="one-block">
        <article>
            <h2>«Здоровый лес» в Пригородном лесничестве Воронежа!</h2>
            <ul>
                <li>Организатор: Anatoliy</li>
                <li>Дата: 4.06.2017</li>
                <li>Время: 10:00 (МСК)</li>
                <li>Место проведения: г.Воронеж</li>
            </ul>
            <p>4 июня в рамках проекта «Здоровый лес» на территории Пригородного лесничества прошел субботник, организованный дублером руководителя управления лесного хозяйства Воронежской области
                Кристиной Леоновой, при поддержке Молодежного правительства Воронежской области, департамента образования, науки и молодежной политики ВО, Воронежского государственного природного
                биосферного заповедника им. В.М.Пескова, управления лесного хозяйства ВО, а также . . .</p>
        </article>
        <a href="/one-event/">
           <div class="column-footer">
               <i class="comm"></i><span>Комментариев: 14</span>
               <i class="comm-arrow"></i>
               <span style="float: right">Участников: 112</span>
           </div>
       </a>
    </div>
    <div class="one-block">
        <article>
            <h2>Длинный заголовок номер 3</h2>
            <ul>
                <li>Организатор: Anatoliy</li>
                <li>Дата: 28.02.2018</li>
                <li>Время: 15:00 (МСК)</li>
                <li>Место: г.Воронеж ул.Остужева д.44</li>
            </ul>
            <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                читаемых в дальнейшем     курсов . . .</p>
        </article>
        <a href="">
           <div class="column-footer">
               <i class="comm"></i><span>Комментариев: 4</span>
               <i class="comm-arrow"></i>
               <span style="float: right">11.02.2018</span>
           </div>
       </a>
    </div>
{% endblock %}