{% extends "base-event.html" %}

{% block title %}prev-events{% endblock %}

{% block column %}
    <div class="one-block">
       <article>
           <h2>Длинный заголовок номер 1</h2>
           <ul>
               <li>Организатор: Anatoliy</li>
                <li>Дата: 28.02.2018</li>
                <li>Время: 15:00 (МСК)</li>
                <li>Место: г.Воронеж ул.Остужева д.44</li>
           </ul>
           <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
               читаемых в дальнейшем     курсов . . .</p>
       </article>
       <a href="/one-event/">
           <div class="column-footer">
                   <i class="comm"></i><span>Комментариев: 14</span>
                   <i class="comm-arrow"></i>
                   <span style="float: right">Участников: 100</span>
           </div>
       </a>
    </div>
    <div class="one-block">
        <article>
            <h2>Длинный заголовок номер 2</h2>
            <ul>
                <li>Организатор: Anatoliy</li>
                <li>Дата: 28.02.2018</li>
                <li>Время: 15:00 (МСК)</li>
                <li>Место проведения: г.Воронеж ул.Остужева д.44</li>
            </ul>
            <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                читаемых в дальнейшем     курсов . . .</p>
        </article>
        <a href="/one-event/">
           <div class="column-footer">
               <i class="comm"></i><span>Комментариев: 14</span>
               <i class="comm-arrow"></i>
               <span style="float: right">Участников: 112</span>
           </div>
       </a>
    </div>
    <div class="one-block">
        <article>
            <h2>Длинный заголовок номер 3</h2>
            <ul>
                <li>Организатор: Anatoliy</li>
                <li>Дата: 28.02.2018</li>
                <li>Время: 15:00 (МСК)</li>
                <li>Место: г.Воронеж ул.Остужева д.44</li>
            </ul>
            <p>Математический анализ студентам прикладной математики читается на протяжении трех семестров и играет очень важную роль в создании математического фундамента для большинства
                читаемых в дальнейшем     курсов . . .</p>
        </article>
        <a href="">
           <div class="column-footer">
               <i class="comm"></i><span>Комментариев: 4</span>
               <i class="comm-arrow"></i>
               <span style="float: right">11.02.2018</span>
           </div>
       </a>
    </div>
{% endblock %}